body {
  height: 100%;
  background-color: #111;
  color: white;
  -webkit-overflow-scrolling: touch;
  font-family: "Signika Negative", sans-serif, Arial;
  overflow-x: hidden;
  margin: 0px;
}

.comparisonSection {
  position: relative;
  padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}
.comparisonImage {
  width: 100%;
  height: 100%;
}
.afterImage {
  position: absolute;
  overflow: hidden;
  transform: translate(100%, 0px);
}
.afterImage img {
  transform: translate(-100%, 0px);
}
.comparisonImage img {
  width: 100%;
  height: 100%;
  position: absolute;
}
