:root {
  color: white;
  font-family: 'Merriweather', serif;
  --dark-bg-color: #6822ff;
  --light-bg-color: #eeeeee;
  --dark-secondary-color: #444444;
  --light-secondary-color: white;
}

body {
  height: 100%;
  background-color: #000000;
  color: white;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  margin: 0px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 200px;
  width: auto;
}

.disppear {
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

#deep-dive-vid-background {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.panel {
  width: clamp(100vw, 100vw, 100vw);
  height: clamp(100vh, 100vh, 100vh);
}

.quote {
  color: rgb(0, 187, 255);
  width: clamp(10em, 25em, 40em); /*clamp min, preffered, max*/
  text-align: center;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 900px;
}

#title {
  color: rgb(0, 187, 255);
  font-size: 90px;
  margin: 0;
}

.ai-text {
  color: blueviolet;
}

.scroll-down {
  display: flex;
  justify-content: center;
  color: white;
  animation: bounce 1s infinite alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(10px);
  }
}

h1 {
  margin-block-start: 0;
}

#hero {
  position: relative;
  text-align: center;
  background-color: var(--dark-bg-color);
}

.down-arrow {
  width: 20px;
  height: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  animation: move-down 2s ease-in-out infinite;
}

@keyframes move-down {
  from {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}

#sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.horizontal-scroll-wrapper {
  position: relative;
  z-index: 2;
}

.horizontal-scroll-container {
  width: 300%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--dark-bg-color);
}

.horizontal-scroll-container section {
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-bg-color);
  padding: 20vw 10vw;
}

.horizontal-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.horizontal-content img {
  height: 20em;
  width: auto;
  justify-self: center;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 240px;
  grid-area: 1;
}

.ic-image {
  border-radius: 20px;
  border-style: dashed;
}

.od-image {
  border-radius: 20px;
  border-style: dashed;
}

.nn-image {
  height: 20em;
  width: auto;
}

.text h3 {
  max-width: 40em;
}

.learn-more {
  text-decoration: underline;
  color: white;
}

.interact-button {
  align-items: center;
  background-color: #fff;
  border: 2px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.interact-button:focus {
  color: #171e29;
}

.interact-button:hover {
  border-color: #006aff;
  color: #006aff;
  fill: #006aff;
}

.interact-button:active {
  border-color: #0091ff;
  color: #0091ff;
  fill: #0091ff;
}

a {
  text-decoration: none;
}

@media screen and (min-width: 960px) and (max-width: 1368px) {
  .horizontal-content h1 {
    font-size: 1px;
  }
  .horizontal-content h3 {
    font-size: 1px;
  }
  .horizontal-content > a {
    font-size: 1px;
  }
}

/* Media query for 1440px */
@media screen and (max-width: 1440px) {
  /* Make paragraphs smaller */
  .horizontal-content h1,
  .horizontal-content h3 {
    font-size: 18px;
  }

  /* Make images smaller */
  .horizontal-content img {
    height: 15em;
  }

  /* Adjust width of horizontal scroll container */
  .horizontal-scroll-container {
    width: 100%;
  }
}

/* Media query for 768px */
@media screen and (max-width: 768px) {
  /* Make paragraphs smaller */
  .horizontal-content h1,
  .horizontal-content h3 {
    font-size: 16px;
  }

  /* Make images smaller */
  .horizontal-content img {
    height: 12em;
  }

  /* Adjust width of horizontal scroll container */
  .horizontal-scroll-container {
    width: 100%;
  }
}

/* Media query for 425px */
@media screen and (max-width: 425px) {
  /* Make paragraphs smaller */
  .horizontal-content h1,
  .horizontal-content h3 {
    font-size: 14px;
  }

  /* Make images smaller */
  .horizontal-content img {
    height: 10em;
  }

  /* Adjust width of horizontal scroll container */
  .horizontal-scroll-container {
    width: 100%;
  }
}

/* Media query for 375px */
@media screen and (max-width: 375px) {
  /* Make paragraphs smaller */
  .horizontal-content h1,
  .horizontal-content h3 {
    font-size: 12px;
  }

  /* Make images smaller */
  .horizontal-content img {
    height: 8em;
  }

  /* Adjust width of horizontal scroll container */
  .horizontal-scroll-container {
    width: 100%;
  }
}

/* Media query for 320px */
@media screen and (max-width: 320px) {
  /* Make paragraphs smaller */
  .horizontal-content h1,
  .horizontal-content h3 {
    font-size: 10px;
  }

  /* Make images smaller */
  .horizontal-content img {
    height: 6em;
  }

  /* Adjust width of horizontal scroll container */
  .horizontal-scroll-container {
    width: 100%;
  }
}
