body {
  height: 100%;
  background-color: #000000;
  color: white;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  margin: 0px;
}

.comparisonSection {
  position: relative;
  padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}
.comparisonImage {
  width: 100%;
  height: 100%;
}
.afterImage {
  position: absolute;
  overflow: hidden;
  transform: translate(100%, 0px);
}
.afterImage img {
  transform: translate(-100%, 0px);
}
.comparisonImage img {
  width: 100%;
  height: 100%;
  position: absolute;
}

#hero {
  position: relative;
  text-align: center;
  background-color: var(--dark-bg-color);
}

.down-arrow {
  width: 20px;
  height: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  animation: move-down 2s ease-in-out infinite;
}

@keyframes move-down {
  from {
      transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  to {
      transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
  }
}

#sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  height: 100vh;
  width: 100vw;
}

.horizontal-scroll-wrapper {
  position: relative;
  z-index: 2;
}

.horizontal-scroll-container {
  width: 300%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--dark-bg-color);
}

.horizontal-scroll-container section {
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-bg-color);
  padding: 20vw 10vw;
}

:root {
    color: white;
    font-family: 'Merriweather', serif;
    --dark-bg-color: #262626;
    --light-bg-color: #eeeeee;
    --dark-secondary-color: #444444;
    --light-secondary-color: white;
}

