:root {
    color: white;
    font-family: 'Merriweather', serif;
    --dark-bg-color:     rgb(0, 119, 255),;
    --light-bg-color: #eeeeee;
    --dark-secondary-color:     rgb(0, 119, 255),;
    --light-secondary-color: white;
  }
  
  @font-face {
    font-family: 'Prototype';
    src: url('/CSS/Prototype.woff') format('woff');
  }
  
  @font-face{
    font-family: 'Ttl';
    src: url('/CSS/good_times_rg.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Aquire';
    src: url('/CSS/AquireRegular.woff2') format('woff2'),
        url('/CSS/AquireRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  ::-webkit-scrollbar {
    display: none;
  }
  
  body {
    height: 100%;
    color: white;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden;
    margin: 0px;
  }

  .loader {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }
  
  img {
    height: 200px;
    width: auto;
  }
  
  .disppear {
    animation: vanish 1s forwards;
  }

  @keyframes vanish {
    100% {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  .deep-dive-vid-background {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    filter: blur(2px);
    z-index: -1;
  }
  
  #vid-1{
    z-index: -5;
  }
  #vid-2{
    z-index: -4;
    opacity: 0;
  }
  #vid-3{
    z-index: -3;
    opacity: 0;
  }
  #vid-4{
    z-index: -2;
    opacity: 0;
  }

  .panel {
    width: clamp(100vw, 100vw, 100vw);
    height: clamp(100vh, 100vh, 100vh);
  }
  
  .quote {
    color: white;
    width: clamp(10em, 25em, 40em); /*clamp min, preffered, max*/
    text-align: center;
    text-shadow: 2px 2px 2px black;
    font-size: calc(1.5vw + 0.25em);
  }
  
  .intro_ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
  }
  
  #title {
    color: white;
    font-size: calc(3.5vw + 1.5em);
    margin: 0;
    width: clamp(40em, 40em, 40em);
    text-shadow: 12px 12px 12px black;
    text-align: center;
    font-family: 'Ttl', sans-serif;
    font-weight: 1000;
  }
  
  .ai-text {
    color:     rgb(0, 119, 255);
  }
  
  .section-title {
    color: white;
    font-size: calc(3vw + 1.5em);
    margin: 0;
    text-shadow: 12px 12px 12px black;
    align-items: center;
    text-align: center;
  }
  
  #hero {
    position: relative;
    text-align: center;
    background-color: var(--dark-bg-color);
  }
  
  .down-arrow {
    margin-top: 20px;
    width: 30px;
    height: 30px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
  }
  
  #sec2 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    height: 100vh;
    width: 100vw;
  }

  section {
    height: 100vh;
    width: 100vw;
  }
  
  #sec3{
    padding: 20vh 10vw;
  }

  #sec4{
    padding: 20vh 10vw;
  }

  #sec5{
    padding: 20vh 10vw;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .ptext{
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-size: calc(1.25vw + 0.25em);
    width: clamp(10em, 45em, 45em); /*clamp min, preffered, max*/
    margin-top: 5px;
  }

  .image {
    display: block;
    margin-top: 2.5%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    height: auto;
    max-width: 40%;
    box-shadow: 0px 0px 12px white;
  }
  
  #learn-more {
    text-decoration: underline;
    color: white;
  }
  
  .interact-button {
    align-items: center;
    background-color: rgb(0, 119, 255);
    border: 2px solid #000;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    cursor: pointer;
    display: inline-flex;
    font-family: 'Prototype', sans-serif;
    fill: #000;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 10 32px;
    text-align: center;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    border-radius: 10em;
    margin-top: 20px;
    scale: 1.5;
  }
  
  .interact-button:focus {
    color: #171e29;
  }
  
  .interact-button:hover {
    border-color: #ffffff;
    color: #006aff;
    fill: #ffffff;
    background-color: white;
  }
  
  .interact-button:active {
    border-color: #0091ff;
    color: #0091ff;
    fill: #0091ff;
  }
  
  a {
    text-decoration: none;
  }
  
  #last-img{
    margin-top: 2.5%;
  }