body {
 /* Prevents text from wrapping */
  background-color: black;
  overflow-x: none;
  overflow-y: auto;
  margin: 0; /* Remove default margin */
  display: flex;
}

.background-image {
  text-align: center;
  background-color: black;
  transform: translateY(5em);
}

.title {
  font-size: 90px;
  color: rgb(255, 255, 255);
  transform: translateY(-5em);
}

#quote {
  text-align: center;
  color: white;
  max-width: 20em;
  font-size: 30px;
}

.quote_class {
  margin-left: 32%;
  transform: translateY(-35em);
}

section {
  display: inline-block; /* Display sections in a row */
  min-width: 100vw; /* Set the width of each section to the viewport width */
  height: 100vh; /* Set the height of each section to the viewport height */
  text-align: center;
  padding: 20px;
}

/* Optional: Style each section differently */
section:nth-child(even) {
  background-color: #f0f0f0;
}

