body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  background: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 200px;
  width: auto;
}

.disppear{
  animation: vanish 1s forwards;
}
@keyframes vanish {
  100%{
    opacity: 0;
    visibility: hidden;
  }
}





.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20em;
}


.text-container h1 {
  font-size: 90px;
}

.text-container p {
  padding-top: 20px;
}


.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 40px;
}

.ic {
  justify-self: center;
}

.od-button-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.od {
  justify-self: center;
}

.od h3 {
  padding-top: 20px;
}






.video-holder {
  display: grid;
  padding-left: 40px;
  margin-top: -400px;
}

.video .canvas{
  grid-column: 1;
  grid-row: 1;
}

.video {
  place-self: center;

}

.canvas {
  place-self: center;
  margin-top: -500px;
}