html {
    background-color: white;
}

.interact-section-title {
    background-color: none;
    display: grid;
    text-align: center;
}

h1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
    margin: 0; 
    transform: translateY(-50px);
    font-size: 100px;
}



h2 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    transform: translateY(-13em);
    font-size: 30px;
}

#try-it-out {
    display: flex;
    justify-content: center; 
    align-items: center; 
    color: rgb(0, 0, 0);
    transform: translateY(-23.4em);
}

button:nth-child(0) {
    padding: 14px 40px;
}

.button-container {
    display: flex;
    justify-content: center; 
    gap: 90px;
    transform: translateY(-22em); 
}

.button-container button {
    /* Add styling to buttons as needed */
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#close {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translate(-3em,21em); /*remeber to translate*/
    padding: 10px 20px;
    background-color: #ffffff;
    border: none;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

h1 {
    color: black;
}


.center {
    opacity: 1;
    background-color: rgb(0, 0, 0);
    transform: translate(12.7em,-58.5em); /* has to be a way to make this better */
    max-width: 80em;
    max-height: 50em;

}

#imagedetection{
    color: white;
    text-align: center;
    transform: translateY(-3em);
    vertical-align: bottom;
}

#test{
    text-align: center;
    padding-top: 5px;
    color: white;
    transform: translateY(-22em);
}

.hide {
    display: none;
}

#imageClassify {
    transform: translateY(-35em);
}





/*Slide Show*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  transform: translate(-1em,-14.5em);
}

.prev {
    left: -20px;
}

/* Position the "next button" to the right */
.next {
  right: -2em;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  transform: translate(-13.5em,-34.3em);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  transform: translateY(-50em);
  margin-left: 48%;
}

/* The dots/bullets/indicators */
.dot {
  transform: translateY(-35em);
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}







@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}






/*Stock Prediction*/
.stockCenter {
  opacity: 1;
    background-color: rgb(0, 0, 0);
    transform: translate(12.7em,-58.5em); /* has to be a way to make this better */
    max-width: 80em;
    max-height: 50em;
}

#stockPrediction{
  color: white;
  text-align: center;
  transform: translateY(-3em);
  vertical-align: bottom;
}


.hide {
  display: none;
}


#stockImage {
  transform: translateY(-35em);
}





#stockClose {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translate(37.23em,21em); /*remeber to translate*/
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

h1 {
  color: black;
}









/* Stable Diffusion */
.diffusionCenter {
  opacity: 1;
    background-color: rgb(0, 0, 0);
    transform: translate(12.7em,-58.5em); /* has to be a way to make this better */
    max-width: 80em;
    max-height: 50em;
}



#stableDiffusion{
  color: white;
  text-align: center;
  transform: translateY(-3em);
  vertical-align: bottom;
}

#diffusionClose {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translate(37.23em,21em); /*remeber to translate*/
  padding: 10px 20px;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

h1 {
  color: black;
}

#video {
  transform: translate(18em, -40em);
}

#canvas {
  transform: translate(18em, -72em);
}