.button {
  z-index: 100;
  padding: 8px 8px;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 100em;
  position: fixed;
  top: 35px;
  left: auto;
  right: 40px;
  border: .2666666667vw solid rgba(255, 253, 245, .25);
  box-shadow: 0 2px 5px rgba(30,30,30,.16);
}

.button-top,
.button-middle,
.button-bottom {
  background-color: #000000;
  transition: 0.5s;
  width: 15px;
  height: 2px;
  margin-right: 0px;
  margin-bottom: 3px;
  display: block;
}

.menuSection{
  z-index: 10;
	width: 100%;
  height: 100%;
  display: flex;
  font-weight: 600;
  font-size: 1.5em;
  color: white;
  position: absolute;
  box-sizing: border-box;
}

.menu{
  background-color: white;
  z-index: 10;
  width: 65%;
  height: 100%;
  position: fixed;
  border-radius: 0.5em;
  text-align: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

.chatBox{
  background-color: #5c636e;
  z-index: 11;
  width: 40%;
  height: 100%;
  position: fixed;
  border-radius: 0.5em;
}

li {
  margin: 100px 0 0 0;
  padding: 0 0 0 0px;
  list-style: none;
  display: block;
  font-size: xx-large;
}

a {
  color: #000000;
  font-weight: 1000;
}

#current{
  font-weight: 400;
  color: #929aab;
  text-decoration:line-through;
}