* {
    box-sizing: border-box;
}


html {
    overflow-y: hidden;
    scroll-behavior: smooth;
}


body {
    background-color: rgb(0, 0, 0);
}

.background-image {
    text-align: center;
    top: 50%;
    transform: translateY(30%);
}

/* Title */
.js-title {
    font-size: 50px;
    color: white;
    padding-left: 6rem;
    transform: translateY(-5.5em);
    z-index: 100;
}

h1 {
    transform: translateY(-50%);
    z-index: 100;
}

/* Second Title */
.second-title {
    color: white;
    font-size: 25px;
    padding-left: 6rem;
    transform: translateY(-16.2em);
    z-index: 100;
}


/* Paragraph */ 
p {
    font-size: 20px;
    color: white;
    max-width: 27em;
    display: flex;
    text-align: left;
    padding-left: 6rem;
    padding-top: 2px;
    padding-bottom: 2px;
    transform: translateY(-21.4em);
}

/* Button */
.discover-button {
    padding-left: 6rem;
    transform: translateY(35px);

}

/* CSS */
.js-discover-button {
    align-items: center;
    background-color: #fff;
    border: 2px solid #000;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-flex;
    fill: #000;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    letter-spacing: -.8px;
    line-height: 24px;
    min-width: 140px;
    outline: 0;
    padding: 0 17px;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .js-discover-button:focus {
    color: #171e29;
  }
  
  .js-discover-button:hover {
    border-color: #6a00ff;
    color: #6a00ff;
    fill: #6a00ff;
  }
  
  .js-discover-button:active {
    border-color: #6a00ff;
    color: #6a00ff;
    fill: #6a00ff;
  }
  
  @media (min-width: 768px) {
    .js-discover-button {
      min-width: 170px;
    }
  }
  




