* {
    box-sizing: border-box;
}


html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}


body {
    background-color: #C0C0C0;
}

/* Menu */
.js-title {
    font-size: 100px;
    text-align: center;
    transform: translateY(30px);
}

#logo {
    display: inline-block;
    margin: 15px; 
    height: 60px;
    width: auto; /* correct proportions to specified height */
}

.home-page-buttons {
    text-align: center;
    padding-left: 10em;
    transform: translateY(-35em);
}

.js-home-button {
    cursor: pointer;
    background-color: none;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 30px;
    padding-right: 5em;
}

.js-discover-button {
    cursor: pointer;
    background-color: none;
    background: none;
    outline: none;
    border: none;
    font-size: 30px;
    padding-right: 5em;
}

.js-deep-dive-button {
    cursor: pointer;
    background-color: none;
    background: none;
    border: none;
    font-size: 30px;
    padding-right: 5em;
}

.js-interact-button {
    cursor: pointer;
    text-decoration: none;
    background-color: none;
    background: none;
    border: none;
    font-size: 30px;
    padding-right: 5em;
}


/* Paragraph */ 
p {
    font-size: 20px;
    max-width: 20em;
    display: flex;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
    transform: translate(0em, -8em);
}

.arrow-down-animation-element {
    font-size: 5em;
    transform: translateY(-1em);
    text-align: center;
}

.section-one-element {
    min-height: 100vh;
}

#section-one-header-element {
    font-size: 100px;
    text-align: center;
    padding-top: 40px;
}


#section-one-image-element {
    height: 30em;
    width: auto;
    padding-left: 4em;
}

.section-one-paragraph-elements {
    transform: translate(20%, -67%);
}

#section-one-paragraph-element-a {
    text-align: justify;
    font-size: 30px;
}

#section-one-paragraph-element-b {
    text-align: justify;
    font-size: 30px;
}

#section-two-black-rectangle-element {
    height: 15em;
    width: 70em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-90%);
}

#section-two-above-button-text-element {
    z-index:  1;
    font-size: 30px;
    color: white;
    text-align: center;
    transform: translateY(-14em);
}

.js-discover-button-two-element {
    z-index: -1;
    cursor: pointer;
    font-size: 30px;
    background-color: #8C56FF;
    transform: translateY(-13.3em);
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}
