body {
  overflow-x: hidden;
  margin: 0;
}

section {
  z-index: 1;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

#hero {
  position: relative;
  padding: 0 0px;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: var(--dark-bg-color);
}

.hero-main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.hero-main-content > h1 {
  font-size: 5rem;
  letter-spacing: 2.5px;
  text-shadow: 2px 5px black;
}

.hero-main-text {
  font-size: 1.5rem;
  letter-spacing: 1px;
  inline-size: 75vw;
  max-width: 1000px;
  margin: 0px 0;
}

.hero-secondary-text {
  font-size: 1.25rem;
  margin: 0 0 0px 0;
  text-decoration: underline;
}

.down-arrow {
  width: 20px;
  height: 20px;
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  animation: move-down 2s ease-in-out infinite;
}

@keyframes move-down {
  from {
      transform: translate(0, -10px) rotate(45deg);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  to {
      transform: translate(0, 10px) rotate(45deg);
      opacity: 0;
  }
}


#sec2 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--light-bg-color);
}

#sec2 h1 {
  font-size: 5rem;
  color: var(--dark-secondary-color);
  text-align: center;
  opacity: 0;
}

.horizontal-scroll-wrapper {
  position: relative;
  z-index: 2;
}

.horizontal-scroll-container {
  width: 300%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  background-color: var(--dark-bg-color);
}

.horizontal-scroll-container section {
  height: 100vh;
  width: 100vw;
  background-color: var(--dark-bg-color);
  padding: 20vw 10vw;
}

.horizontal-content > h1 {
  position: relative;
  font-size: 4rem;
  opacity: 1;
  text-shadow: 2px 5px black;
}

.horizontal-content > p {
  position: relative;
  font-size: 1.25rem;
  text-align: justify;
  color: var(--light-secondary-color);
  width: 75%;
  margin-top: 20px;
  opacity: 1;
  padding: 2em;
  border: 2px solid var(--light-secondary-color);
  border-radius: 2em;
}

.horizontal-content p::before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 1em;
  top: 1em;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-secondary-color);
  border-radius: 2em;
  z-index: -1;
}

.horizontal-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#sec5 > .horizontal-content > p {
  width: 67.5%;
  margin-bottom: 60px;
}

.asl-btn {
  box-sizing: border-box;
  padding: 0px 0px;
  background-color: transparent;
  font-size: 1.5rem;
  color: white;
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
  border: 2px solid white;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.asl-btn:hover {
  background-color: white;
  color: var(--dark-bg-color);
  letter-spacing: 2px;
}

@media screen and (min-width: 960px) and (max-width: 1368px){
  .sec1-content > h1 {
      font-size: 4.5rem;
  }
  .sec1-content > p {
      font-size: 1.25rem;
  }
  .horizontal-content > h1 {
      font-size: 3.5rem;
  }
  .horizontal-content > p {
      font-size: 1.1rem;
  }
  .horizontal-content > a {
      font-size: 1.25rem;
  }
}

@media screen and (min-width: 400px) and (max-width: 959px) {
  .hero-main-content > h1 {
      font-size: 4.25rem;
  }
  
  .hero-main-text {
      font-size: 1.25rem;
  }
  
  .hero-secondary-text {
      font-size: 1rem;
  }

  .sec1-content > h1 {
      font-size: 3rem;
  }
  
  .sec1-content > p {
      font-size: 0.95rem;
  }

  #sec2 > h1 {
      font-size: 4rem;
  }

  .horizontal-content > h1 {
      font-size: 3rem;
  }

  .horizontal-content > p {
      font-size: 1rem;
  }

  .horizontal-content > a {
      font-size: 1.25rem;
  }
}

@media screen and (min-width: 400px) and (max-width: 750px) {
  .horizontal-content > h1 {
      font-size: 2.5rem;
  }

  .horizontal-content > p {
      font-size: 0.9rem;
  }

  #sec5 h1 {
      font-size: 1.75rem;
  }

  .horizontal-content > a {
      font-size: 1rem;
  }
}

@media screen and (max-width: 750px) {
  #hero {
      padding: 0 0px;
  }
}

@media screen and (min-width: 200px) and (max-width: 399px) {
  .hero-main-content > h1 {
      font-size: 3.25rem;
  }
  
  .hero-main-text {
      font-size: 1rem;
  }
  
  .hero-secondary-text {
      font-size: 0.85rem;
  }

  .sec1-content > h1 {
      font-size: 2.5rem;
  }
  
  .sec1-content > p {
      font-size: 0.75rem;
  }

  #sec2 > h1 {
      font-size: 2.25rem;
  }

  .horizontal-content > h1 {
      font-size: 1.75rem;
  }

  .horizontal-content > p {
      font-size: 0.75rem;
  }

  .horizontal-content > a {
      font-size: 0.9rem;
  }
}

:root {
    color: white;
    font-family: 'Merriweather', serif;
    --dark-bg-color: #262626;
    --light-bg-color: #eeeeee;
    --dark-secondary-color: #444444;
    --light-secondary-color: white;
}

* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0px;
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background: black url("../images/preloader-icon.gif") no-repeat fixed center;
    background-size: 15%;
}

a {
    color: var(--light-secondary-color);
    text-decoration: none;
}

.menu-btn {
    position: fixed;
    top: 10%;
    right: 10%;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    align-items: center;
    z-index: 1000;
}

.menu-btn:hover {
    cursor: pointer;
}

.menu-btn:hover > .outer-menu-icon {
    scale: 150%;
    border: 1px solid rgba(255, 255, 255, .25);
}

.menu-btn:hover .inner-menu-icon {
    scale: 15%;
    background-color: var(--light-secondary-color);
}

.menu-btn:hover > span {
    margin-right: 1.5rem;
    opacity: 0.25;
}

.menu-btn > span {
    color: var(--light-secondary-color);
    margin-right: 1rem;
    font-size: 0.75rem;
    letter-spacing: 6px;
    font-weight: 100;
    text-transform: uppercase;
    transition-duration: 0.5s;
}

.outer-menu-icon {
    width: 1.5rem;
    height: 1.5rem;
    border: 0.1rem solid var(--light-secondary-color);
    rotate: 45deg;
    background-color: transparent;
    transition-duration: 0.5s;
}

.inner-menu-icon {
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition-duration: 0.5s;
}

.menu-btn.dark > span {
    color: var(--dark-secondary-color);
}

.menu-btn.dark > .outer-menu-icon {
    border-color: var(--dark-secondary-color);
}

.menu-btn.dark:hover > .outer-menu-icon {
    border-color: rgba(68, 68, 68, 0.25);
}

.menu-btn.dark:hover .inner-menu-icon {
    background-color: var(--dark-secondary-color);
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    font-family: 'Merriweather', serif;
    background-color: var(--dark-bg-color);
    z-index: 100;
}

.menu-main-sec {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 0px;
}

.primary-nav-links li a, .secondary-nav-links li a {
    transition-duration: 0.5s;
}

.primary-nav-links {
    margin: 0rem 0rem 80px 0rem;
    font-size: 4rem;
    list-style: none;
}

.primary-nav-links li {
    margin: 1rem 0rem;
    overflow: hidden;
}

.primary-nav-links li a {
    display: inline-block;
    position: relative;
    transition: opacity 0.5s linear;
}

.primary-nav-links:hover li a {
    opacity: 0.3;
}

.primary-nav-links:hover li:hover a {
    opacity: 1;
}

.secondary-nav-links {
    list-style: none;
    font-size: 1rem;
}

.secondary-nav-links li {
    margin: 0.5rem 0rem;
}

.secondary-nav-links:hover li a {
    opacity: 0.3;
}

.secondary-nav-links:hover li:hover a {
    opacity: 1;
}

@media screen and (min-width: 750px) and (max-width: 1024px) {
    .menu-main-sec {
        padding: 0 0px;
    }
    
    .primary-nav-links {
        font-size: 3rem;
    }
}

@media screen and (min-width: 450px) and (max-width: 749px) {
    .menu-main-sec {
        padding: 0 0px;
    }

    .primary-nav-links {
        font-size: 2.75rem;
    }

    .menu-btn {
        top: 7.5%;
    }
    .menu-btn > span {
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 200px) and (max-width: 449px) {
    .menu-main-sec {
        padding: 0;
    }
    .primary-nav-links {
        font-size: 2rem;
    }
    .menu-btn {
        top: 6%;
    }
    .menu-btn > span {
        font-size: 0.6rem;
    }
}

.comparisonSection {
  position: relative;
  padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}
.comparisonImage {
  width: 100%;
  height: 100%;
}
.afterImage {
  position: absolute;
  overflow: hidden;
  transform: translate(100%, 0px);
}
.afterImage img {
  transform: translate(-100%, 0px);
}
.comparisonImage img {
  width: 100%;
  height: 100%;
  position: absolute;
}