.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    background: none; /* hamburger backround color */
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hamburger Line */
.menu-wrap .hamburger > div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
}

/* Top and bottom line */
.menu-wrap .hamburger > div::before, 
.menu-wrap .hamburger > div::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

/* moves line down */
.menu-wrap .hamburger > div::after {
    top: 10px;
}

/* Toggler animate */
.menu-wrap .toggler:checked + .hamburger >div {
    transform: rotate(135deg);
}

/* Turns lines into X*/
.menu-wrap .toggler:checked + .hamburger >div:before,
.menu-wrap .toggler:checked + .hamburger >div:after {
    top: 0;
    transform: rotate(90deg);
}

/* Rotate on when checked*/
.menu-wrap .toggler:checked:hover + .hamburger >div {
    transform: rotate(225deg);
}

/* Show menu */
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transform-origin: 0% 0%; /* Transform start */
    transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div >div {
    opacity: 1;
    transition: opacity 0.4s ease;
    -moz-transition: ease 0.4s
    
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    background: black; /* we can have black or blurred*/
    /*backdrop-filter: blur(20px);*/
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    /* transform: scale(0); */
    transform-origin: left;
    transition: opacity 0.2s ease-out; /* find out a good transition */
}

.menu-wrap .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

.menu-wrap .menu > div > div > ul > li{
    list-style: none; /* gets rid of bullet points */
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    position: relative;
}

.menu-wrap .menu > div > div > ul > li > a::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s ease-out;   
}

.menu-wrap .menu > div > div > ul > li > a:hover::before{
    transform-origin: left;
    transform: scaleX(1);
}



/*
a {
  position: relative;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
} */